body {
  overflow: hidden;
}

@font-face { /* 킵 : 1*/
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@media (max-width: 768px) {
  body {
    touch-action: none;
  }
}

body {
  touch-action: pan-x pan-y;
  user-select: none;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.delete-div {
  width: 100%;
  animation: fadeIn 0.5s ease-in-out forwards;
  bottom: 0;
  height: 7vh;
  background-color: #50596c;
  padding: 0 20px 0 27px;

  font-size: 18px;
  color: white;
  font-weight: 550;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: fixed; /* 고정 위치로 설정합니다. */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

input {
  font-family: S-CoreDream-3Light, serif;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 3px;
  height: 20px;
  width: 100%;
}

input[type="date"] {
  position: relative;
  width: 125px;
  height: 48px;
  padding: 0 0 0 5px;
  border: 1px solid rgb(211, 211, 211);
  border-radius: 3px;
  min-width: 120px;
}
input[type="date"]::-webkit-clear-button,
input[type="date"]::-webkit-inner-spin-button {display: none}
input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  color: transparent;
  cursor: pointer;
}
input[type="date"]::before {
  content: attr(data-placeholder);
  width: 100%;
}
input[type="date"]:valid::before {
  display: none;
}
input[data-placeholder]::before {
  font-size: 14px;
}

