.table-container {
  margin-top: 5px;
  width: 1250px;
  border: 1px solid #D3D3D3;
  border-top: 2px solid #0C70F2;
  margin-bottom: 3px;
}

.table-container.table-header {
  font-size: 17px;
  font-weight: bold;
}

.table-container.table {
  border-collapse: collapse;
  border-radius: 0;
}

.table-container.title {
  font-size: 17px;
  font-weight: bold;
}

.cellHoverEffect {
  transition: background-color 0.3s ease;
}

.cellHoverEffect:hover {
  background-color: rgba(224, 224, 224, 0.8);
  cursor: pointer;
}